* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.input-title .input-inform .input-inform__form .input-inform__form__username, .input-title .input-inform .input-inform__form .input-inform__form__email, .input-title .input-inform .input-inform__form .input-inform__form__number {
  width: 281px;
  height: 46px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  padding: 10px 10px 10px 41px;
  margin: 0 10px 0 0;
  border-radius: 2px;
}

.input-title .input-inform .input-inform__form .input-inform__form__username::-webkit-input-placeholder, .input-title .input-inform .input-inform__form .input-inform__form__email::-webkit-input-placeholder, .input-title .input-inform .input-inform__form .input-inform__form__number::-webkit-input-placeholder {
  font-size: 13px;
  color: #a9a9a9;
}

.input-title .input-inform .input-inform__form .input-inform__form__username:-ms-input-placeholder, .input-title .input-inform .input-inform__form .input-inform__form__email:-ms-input-placeholder, .input-title .input-inform .input-inform__form .input-inform__form__number:-ms-input-placeholder {
  font-size: 13px;
  color: #a9a9a9;
}

.input-title .input-inform .input-inform__form .input-inform__form__username::-ms-input-placeholder, .input-title .input-inform .input-inform__form .input-inform__form__email::-ms-input-placeholder, .input-title .input-inform .input-inform__form .input-inform__form__number::-ms-input-placeholder {
  font-size: 13px;
  color: #a9a9a9;
}

.input-title .input-inform .input-inform__form .input-inform__form__username::placeholder, .input-title .input-inform .input-inform__form .input-inform__form__email::placeholder, .input-title .input-inform .input-inform__form .input-inform__form__number::placeholder {
  font-size: 13px;
  color: #a9a9a9;
}

.input-title .input-inform .input-inform__form .input-inform__form__username {
  background: #fff url(../img/man_icon.png) 15px 15px no-repeat;
}

.input-title .input-inform .input-inform__form .input-inform__form__email {
  background: #fff url(../img/email_icon.png) 15px 15px no-repeat;
}

.input-title .input-inform .input-inform__form .input-inform__form__number {
  background: #fff url(../img/phone_icon.png) 15px 15px no-repeat;
}

.input-title .input-inform .input-inform__form .input-inform__form__button, .about_us .about_us__button, .choose-your-price .price-plan__button, .how-it-work__button {
  background: #ffbb42;
  text-transform: uppercase;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  padding: 15px 40px 14px 43px;
  color: #fff;
  border-radius: 2px;
}

.input-title .input-inform .input-inform__form .input-inform__form__button:hover, .about_us .about_us__button:hover, .choose-your-price .price-plan__button:hover, .how-it-work__button:hover {
  background: #ffaf24;
}

.input-title .input-inform .input-inform__form .input-inform__form__button:active, .about_us .about_us__button:active, .choose-your-price .price-plan__button:active, .how-it-work__button:active {
  background: #ffcc75;
}

.header {
  width: 1700px;
  height: 93px;
  position: relative;
  top: 0;
  left: 0;
}

.header .header__logo {
  display: inline-block;
  width: 50px;
  height: 48px;
  background: url(../img/header_logo.png) no-repeat;
  position: absolute;
  top: 22px;
  left: 262px;
}

.header .header__menu {
  display: inline-block;
  position: relative;
  left: 628px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 13.5px;
  text-transform: uppercase;
}

.header .header__menu a {
  color: #868686;
}

.header .header__menu li {
  display: inline-block;
  margin: 30px 0 30px 0;
  padding: 12px 21px 12px 21px;
}

.header .header__menu li:hover {
  background: #ffbb42;
  border-radius: 3px;
  color: #fff;
}

.header .header__menu li:active {
  background: #ffba42a1;
}

.input-title {
  position: relative;
}

.input-title .input-inform {
  width: 1700px;
  height: 589px;
  background: #709dca;
}

.input-title .input-inform .input-inform__text {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  position: relative;
  top: 110px;
}

.input-title .input-inform .input-inform__text .input-inform__text__p1 {
  text-align: center;
  font-size: 34px;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: -0.025em;
  margin: 0 0 5px 0;
}

.input-title .input-inform .input-inform__text .input-inform__text__p2 {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
}

.input-title .input-inform .input-inform__form {
  width: 1700px;
  position: absolute;
  top: 196px;
  left: 306px;
}

.input-title .macbook {
  width: 647px;
  height: 343px;
  position: absolute;
  top: 309px;
  left: 527px;
  background: url(../img/macbook.png) 50% no-repeat;
  z-index: 10;
}

.input-title .macbook .macbook__display {
  width: 445px;
  height: 264px;
  position: relative;
  top: 18px;
  left: 102px;
  background: url(../img/man_for_display.png) 50% no-repeat;
}

.ourservices-title {
  position: relative;
  width: 1700px;
  height: 921px;
}

.ourservices-title .macbook__trigger {
  position: absolute;
  display: block;
  top: 83px;
  left: 820px;
}

.ourservices-title .macbook__trigger li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 16px;
  height: 15px;
  border: 3px solid #dedfe0;
  border-radius: 50%;
  margin: 5px;
}

.ourservices-title .macbook__trigger li:hover {
  border: 3px solid #1ca8dd;
}

.ourservices-title .ourserveces-title__text {
  position: absolute;
  top: 201px;
  left: 667px;
  width: 370px;
  height: 50px;
  text-align: center;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.ourservices-title .ourserveces-title__text .ourserveces-title__text__p1 {
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  margin: 0 0 5px 0;
}

.ourservices-title .ourserveces-title__text .ourserveces-title__text__p2 {
  font-size: 16px;
  font-weight: 400;
}

.ourservices-title .ourserveces-title__list {
  position: absolute;
  top: 343px;
  left: 266px;
  width: 1350px;
  height: 921px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.ourservices-title .ourserveces-title__list h2 {
  text-align: start;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #394b50;
  margin: 0 0 21px 0;
}

.ourservices-title .ourserveces-title__list p {
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  color: #7b7b7b;
}

.ourservices-title .ourserveces-title__list li {
  display: inline-block;
  width: 555px;
  height: 95px;
  padding: 3px 3px 3px 70px;
}

.ourservices-title .ourserveces-title__list li:nth-child(1) {
  margin: 0 106px 79px 0;
}

.ourservices-title .ourserveces-title__list .ourserveces-title__list__1 {
  width: 1350px;
}

.ourservices-title .ourserveces-title__list .ourserveces-title__list__1 li:nth-child(1) {
  background: url(../img/oclock.png) no-repeat;
}

.ourservices-title .ourserveces-title__list .ourserveces-title__list__1 li:nth-child(2) {
  background: url(../img/settings.png) no-repeat;
}

.ourservices-title .ourserveces-title__list .ourserveces-title__list__2 {
  width: 1350px;
}

.ourservices-title .ourserveces-title__list .ourserveces-title__list__2 li {
  text-align: start;
}

.ourservices-title .ourserveces-title__list .ourserveces-title__list__2 li:nth-child(1) {
  background: url(../img/head_student.png) no-repeat;
}

.ourservices-title .ourserveces-title__list .ourserveces-title__list__2 li:nth-child(2) {
  background: url(../img/rocket.png) no-repeat;
}

.ourservices-title .ourserveces-title__list .ourserveces-title__list__3 {
  width: 1350px;
}

.ourservices-title .ourserveces-title__list .ourserveces-title__list__3 li:nth-child(1) {
  background: url(../img/simbol_hz.png) no-repeat;
}

.ourservices-title .ourserveces-title__list .ourserveces-title__list__3 li:nth-child(2) {
  background: url(../img/dolar.png) no-repeat;
}

.about_us {
  position: relative;
  width: 1700px;
  height: 623px;
  background: #ffc155;
}

.about_us .about_us__image {
  display: inline-block;
  width: 850px;
  height: 623px;
  background: url(../img/abous_us_img.png) left no-repeat;
}

.about_us .about_us__head {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  position: absolute;
  top: 164px;
  left: 931px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: -0.025em;
  z-index: 100;
}

.about_us .about_us__text {
  display: inline-block;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  position: absolute;
  top: 231px;
  left: 930px;
  width: 508px;
  height: 157px;
  padding: 2px;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
}

.about_us .about_us__button {
  display: inline-block;
  position: absolute;
  top: 420px;
  left: 930px;
  -webkit-box-shadow: 0 0 3px 0.2px black;
          box-shadow: 0 0 3px 0.2px black;
}

.about_us .about_us__button:active {
  -webkit-box-shadow: inset 0 0 3px 0.2px black;
          box-shadow: inset 0 0 3px 0.2px black;
}

.choose-your-price {
  position: relative;
  width: 1700px;
  height: 898px;
  background: #e7edf3;
}

.choose-your-price .choose-your-price__title {
  position: absolute;
  top: 137px;
  left: 616px;
  width: 500px;
  height: 43px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  text-align: center;
}

.choose-your-price .choose-your-price__title .choose-your-price__title__p1 {
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  color: #394b50;
  margin: 0 0 3px 0;
}

.choose-your-price .choose-your-price__title .choose-your-price__title__p2 {
  font-size: 18px;
  font-weight: 300;
  color: #75888d;
}

.choose-your-price .price-plan__head {
  position: absolute;
  top: 57px;
  left: 123px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase;
  color: #818b95;
}

.choose-your-price .price-plan__price {
  position: absolute;
  top: 105px;
  left: 148px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  text-align: center;
}

.choose-your-price .price-plan__price .price {
  font-size: 60px;
  font-weight: 700;
  color: #ffbb42;
}

.choose-your-price .price-plan__price .price::before {
  content: '\0024';
  vertical-align: super;
  font-size: 40px;
}

.choose-your-price .price-plan__price .foot {
  font-size: 13.5px;
  font-weight: 300;
  text-transform: uppercase;
  color: #b5bbc1;
}

.choose-your-price .price-plan__privilege {
  position: absolute;
  top: 209px;
  left: 30px;
  font-size: 13.5px;
  font-weight: 400;
  text-transform: uppercase;
  color: #b5bbc1;
  text-align: center;
}

.choose-your-price .price-plan__privilege li {
  display: block;
  border-top: 1px solid #e2e9f0;
  padding: 13px 80px;
}

.choose-your-price .price-plan__button {
  position: absolute;
  top: 351px;
  left: 105px;
}

.choose-your-price .basic-plan {
  position: absolute;
  top: 263px;
  left: 265px;
  width: 391px;
  height: 441px;
  background: #fff;
  border: 1px solid #ccd5df;
  border-radius: 2px;
}

.choose-your-price .premium-plan {
  position: absolute;
  top: 233px;
  left: 653px;
  width: 395px;
  height: 501px;
  background: #709dca;
  border: 1px solid #ccd5df;
  border-radius: 2px;
  z-index: 10;
}

.choose-your-price .premium-plan .price-style_2 {
  position: relative;
  top: 30px;
  left: 2px;
}

.choose-your-price .premium-plan .price-plan__head,
.choose-your-price .premium-plan .price,
.choose-your-price .premium-plan .foot,
.choose-your-price .premium-plan .price-plan__privilege {
  color: #fff;
}

.choose-your-price .golden-plan {
  position: absolute;
  top: 263px;
  left: 1044px;
  width: 391px;
  height: 441px;
  background: #fff;
  border: 1px solid #ccd5df;
  border-radius: 2px;
}

.how-it-work {
  position: relative;
  width: 1700px;
  height: 858px;
  background: url(../img/shape_for_line_left.png) 485px 297px no-repeat, url(../img/izgib_line.png) 494px 279px no-repeat, url(../img/shape_for_line_right.png) 602px 297px no-repeat, url(../img/shape_for_line_left.png) 785px 297px no-repeat, url(../img/izgib_line.png) 794px 279px no-repeat, url(../img/shape_for_line_right.png) 903px 297px no-repeat, url(../img/shape_for_line_left.png) 1085px 297px no-repeat, url(../img/izgib_line.png) 1094px 279px no-repeat, url(../img/shape_for_line_right.png) 1202px 297px no-repeat;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.how-it-work__header {
  position: absolute;
  top: 155px;
  left: 667px;
  text-align: center;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #394b50;
}

.how-it-work__header__head {
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  margin: 0 0 4px 0;
}

.how-it-work__header__text {
  font-size: 18px;
  font-weight: 300;
}

.how-it-work__step_1 {
  position: absolute;
  top: 311px;
  left: 294px;
  width: 210px;
  text-align: center;
}

.how-it-work__step_2 {
  position: absolute;
  top: 311px;
  left: 594px;
  width: 210px;
  text-align: center;
}

.how-it-work__step_3 {
  position: absolute;
  top: 311px;
  left: 894px;
  width: 210px;
  text-align: center;
}

.how-it-work__step_4 {
  position: absolute;
  top: 311px;
  left: 1194px;
  width: 210px;
  text-align: center;
}

.how-it-work__step__icon {
  margin: 0 0 100px 0;
}

.how-it-work__step__head {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #394b50;
  margin: 0 0 28px 0;
}

.how-it-work__step__text {
  font-size: 13px;
  font-weight: 400;
  color: #7b7b7b;
}

.how-it-work__button {
  position: absolute;
  top: 663px;
  left: 768px;
}

.happy-clients {
  position: relative;
  width: 1700px;
  height: 908px;
  background: #ffc155;
}

.happy-clients__head {
  position: absolute;
  top: 141px;
  left: 660px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  text-align: center;
  color: #fff;
}

.happy-clients__head > h2 {
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  margin: 5px;
}

.happy-clients__head > p {
  font-size: 16px;
  font-weight: 400;
}

.happy-clients__list {
  position: absolute;
  top: 246px;
  left: 265px;
}

.happy-clients__list > li {
  display: inline-block;
  width: 567px;
  height: 241px;
  background: #fff;
  padding: 43px 41px 51px 30px;
  margin: 0 0 20px 0;
}

.happy-clients__list > li:nth-child(odd) {
  margin: 0 30px 0 0;
}

.list__photo {
  display: inline-block;
}

.list__text {
  position: absolute;
  display: inline-block;
  width: 365px;
  height: 110px;
  color: #7b7b7b;
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  padding: 3px;
  margin: 0 0 0 10px;
}

.list__text::before {
  content: '\201C   ';
  font-size: 23px;
  font-weight: 700;
}

.list__text::after {
  content: '   \201D';
  font-size: 23px;
  font-weight: 700;
}

.list__nameuser {
  position: relative;
  top: 130px;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #99a9ae;
}

.list__nameuser span {
  color: #f6772c;
}
