@import 'null_style.scss';

%input-window {
  width: 281px;
  height: 46px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  padding: 10px 10px 10px 41px;
  margin: 0 10px 0 0;
  border-radius: 2px;
  &::placeholder {
    font-size: 13px;
    color: #a9a9a9;
  }
}
%man-icon {
  background: #fff url(../img/man_icon.png) 15px 15px no-repeat;
}
%email-icon {
  background: #fff url(../img/email_icon.png) 15px 15px no-repeat;
}
%phone-icon {
  background: #fff url(../img/phone_icon.png) 15px 15px no-repeat;
}
%button {
  background: #ffbb42;
  text-transform: uppercase;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  padding: 15px 45px 14px 43px;
  color: #fff;
  border-radius: 2px;
  &:hover {
    background: #ffaf24;
  }
  &:active {
    background: #ffcc75;
  }
}

.header {
  width: 1700px;
  height: 93px;
  position: relative;
  top: 0;
  left: 0;

  .header__logo {
    display: inline-block;
    width: 50px;
    height: 48px;
    background: url(../img/header_logo.png) no-repeat;
    position: absolute;
    top: 22px;
    left: 262px;
  }
  .header__menu {
    display: inline-block;
    position: relative;
    left: 628px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 13.5px;
    text-transform: uppercase;
    & a {
      color: #868686;
    }
    & li {
      display: inline-block;
      margin: 30px 0 30px 0;
      padding: 12px 21px 12px 21px;
      &:hover {
        background: #ffbb42;
        border-radius: 3px;
        color: #fff;
      }
      &:active {
        background: #ffba42a1;
      }
    }
  }
}
.input-title {
  position: relative;
  .input-inform {
    width: 1700px;
    height: 589px;
    background: #709dca;

    .input-inform__text {
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      position: relative;
      top: 110px;
      .input-inform__text__p1 {
        text-align: center;
        font-size: 34px;
        font-weight: 900;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: -0.025em;
        margin: 0 0 5px 0;
      }
      .input-inform__text__p2 {
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        color: #fff;
      }
    }

    .input-inform__form {
      width: 1700px;
      position: absolute;
      top: 196px;
      left: 306px;
      .input-inform__form__username {
        @extend %input-window;
        @extend %man-icon;
      }
      .input-inform__form__email {
        @extend %input-window;
        @extend %email-icon;
      }
      .input-inform__form__number {
        @extend %input-window;
        @extend %phone-icon;
      }
      .input-inform__form__button {
        @extend %button;
      }
    }
  }
  .macbook {
    width: 647px;
    height: 343px;
    position: absolute;
    top: 309px;
    left: 527px;
    background: url(../img/macbook.png) 50% no-repeat;
    z-index: 10;
    .macbook__display {
      width: 445px;
      height: 264px;
      position: relative;
      top: 18px;
      left: 102px;
      background: url(../img/man_for_display.png) 50% no-repeat;
    }
  }
}

.ourservices-title {
  position: relative;
  width: 1700px;
  height: 921px;
  .macbook__trigger {
    position: absolute;
    display: block;
    top: 83px;
    left: 820px;
    & li {
      display: inline-flex;
      width: 16px;
      height: 15px;
      border: 3px solid #dedfe0;
      border-radius: 50%;
      margin: 5px;
      &:hover {
        border: 3px solid #1ca8dd;
      }
    }
  }
  .ourserveces-title__text {
    position: absolute;
    top: 201px;
    left: 667px;
    width: 370px;
    height: 50px;
    text-align: center;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    .ourserveces-title__text__p1 {
      font-size: 30px;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: -0.025em;
      margin: 0 0 5px 0;
    }
    .ourserveces-title__text__p2 {
      font-size: 16px;
      font-weight: 400;
    }
  }

  .ourserveces-title__list {
    position: absolute;
    top: 343px;
    left: 266px;
    width: 1350px;
    height: 921px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    & h2 {
      text-align: start;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      color: #394b50;
      margin: 0 0 21px 0;
    }
    & p {
      font-size: 13px;
      line-height: 22px;
      font-weight: 400;
      color: #7b7b7b;
    }
    & li {
      display: inline-block;
      width: 555px;
      height: 95px;
      padding: 3px 3px 3px 70px;
      &:nth-child(1) {
        margin: 0 106px 79px 0;
      }
    }

    .ourserveces-title__list__1 {
      width: 1350px;
      & li {
        &:nth-child(1) {
          background: url(../img/oclock.png) no-repeat;
        }
        &:nth-child(2) {
          background: url(../img/settings.png) no-repeat;
        }
      }
    }
    .ourserveces-title__list__2 {
      width: 1350px;
      & li {
        &:nth-child(1) {
          background: url(../img/head_student.png) no-repeat;
        }
        &:nth-child(2) {
          background: url(../img/rocket.png) no-repeat;
        }
        text-align: start;
      }
    }
    .ourserveces-title__list__3 {
      width: 1350px;
      & li {
        &:nth-child(1) {
          background: url(../img/simbol_hz.png) no-repeat;
        }
        &:nth-child(2) {
          background: url(../img/dolar.png) no-repeat;
        }
      }
    }
  }
}
.about_us {
  position: relative;
  width: 1700px;
  height: 623px;
  background: #ffc155;
  .about_us__image {
    display: inline-block;
    width: 850px;
    height: 623px;
    background: url(../img/abous_us_img.png) left no-repeat;
  }
  .about_us__head {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    position: absolute;
    top: 164px;
    left: 931px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: -0.025em;
    z-index: 100;
  }
  .about_us__text {
    display: inline-block;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    position: absolute;
    top: 231px;
    left: 930px;
    width: 508px;
    height: 157px;
    padding: 2px;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
  }
  .about_us__button {
    display: inline-block;
    position: absolute;
    top: 420px;
    left: 930px;
    @extend %button;
    box-shadow: 0 0 3px 0.2px black;
    &:active {
      box-shadow: inset 0 0 3px 0.2px black;
    }
  }
}
.choose-your-price {
  position: relative;
  width: 1700px;
  height: 898px;
  background: #e7edf3;
  .choose-your-price__title {
    position: absolute;
    top: 137px;
    left: 616px;
    width: 500px;
    height: 43px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    .choose-your-price__title__p1 {
      font-size: 30px;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: -0.025em;
      color: #394b50;
      margin: 0 0 3px 0;
    }
    .choose-your-price__title__p2 {
      font-size: 18px;
      font-weight: 300;
      color: #75888d;
    }
  }
  .price-plan__head {
    position: absolute;
    top: 57px;
    left: 123px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
    color: #818b95;
  }
  .price-plan__price {
    position: absolute;
    top: 105px;
    left: 148px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    .price {
      font-size: 60px;
      font-weight: 700;
      color: #ffbb42;
      &::before {
        content: '\0024';
        vertical-align: super;
        font-size: 40px;
      }
    }
    .foot {
      font-size: 13.5px;
      font-weight: 300;
      text-transform: uppercase;
      color: #b5bbc1;
    }
  }
  .price-plan__privilege {
    position: absolute;
    top: 209px;
    left: 30px;
    font-size: 13.5px;
    font-weight: 400;
    text-transform: uppercase;
    color: #b5bbc1;
    text-align: center;
    & li {
      display: block;
      border-top: 1px solid #e2e9f0;
      padding: 13px 80px;
    }
  }
  .price-plan__button {
    position: absolute;
    top: 351px;
    left: 105px;
    @extend %button;
  }
  .basic-plan {
    position: absolute;
    top: 263px;
    left: 265px;
    width: 391px;
    height: 441px;
    background: #fff;
    border: 1px solid #ccd5df;
    border-radius: 2px;
  }
  .price-style_1 {
  }

  .premium-plan {
    position: absolute;
    top: 233px;
    left: 653px;
    width: 395px;
    height: 501px;
    background: #709dca;
    border: 1px solid #ccd5df;
    border-radius: 2px;
    z-index: 10;
    .price-style_2 {
      position: relative;
      top: 30px;
      left: 2px;
    }
    .price-plan__head,
    .price,
    .foot,
    .price-plan__privilege {
      color: #fff;
    }
  }
  .golden-plan {
    position: absolute;
    top: 263px;
    left: 1044px;
    width: 391px;
    height: 441px;
    background: #fff;
    border: 1px solid #ccd5df;
    border-radius: 2px;
  }
}
